*{
   margin: 0;
   box-sizing: border-box;
}

.main{
   padding-left : 25%;
   padding-right: 25%;
}

.dangky{
   width: 70%;
}

.divtscha{
   width: 70%;
   border: solid;
}

.divelcha{
   width: 70%;
   border: solid;
}

.divpkcha{
   width: 70%;
   border: solid;
}

.content{
   display: flex;
}